[data-testid="metric-container"] {
    background-image: linear-gradient(to right, rgb(26, 255, 140,0.1), rgb(0, 204, 153,0.1)
    );
    padding: 10px;
    border-radius: 10%;
    box-shadow: 1px 2px 5px rgba(128, 128, 128,0.3);
}

[data-testid="metric-container"]:hover{
    background-image: linear-gradient(to left, rgb(26, 255, 140,0.3), rgb(0, 204, 153,0.1)
    );
    padding: 10px;
    border-radius: 10%;
    box-shadow: inset 2px 3px 5px rgb(204, 204, 204,0.3);
}